.icon-points{
    width: 70px;
}
.card{
    background: rgba(0, 0, 0, 0.25);
}
.bg-1{
    background-image: url("../assets/img/weakspot-mesuer-empreinte-web.jpg");
    min-height: 620px;
    background-position: 50% 30%;
    padding: 100px 0;
}

.bg-2{
    background-image: url("../assets/img/weakspot-mesuer-empreinte-web2.jpg");
    min-height: 620px;
    background-position: 50% 30%;
    padding: 100px 0;
}

.bg-3{
    background-color: black;
}
.pt-1 {
    margin-top: 0 !important;
}

.zoom {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 100%;
    display: block;
    margin: auto;
}

.zoom:hover {
    text-decoration: none;
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom h2{
    font-size: 5rem;
}

.pt-2{
    margin-top: 10% !important;
}
